@font-face {
    font-family: "digital";
    src: url("../font/Digital\ Numbers\ 400.ttf");
}

.clock-body {
    position: fixed;
    margin: 0;
    display: flex;
    opacity: 0;
    transition: opacity 1s ease;
    flex: 1;
    min-height: 30vh;
    align-items: center;
    flex-direction: column;
}

.clock {
    top:8vh;
    width: 15vh;
    height: 15vh;
    border: 4px solid rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.7);
    border-radius: 50%;
    position: relative;
    box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}

.clock-number {
    position: absolute;
    top: -5vh;
    font-family: 'digital';
    font-size: 5vh;
    text-shadow: 0px 0px 5px black;
    color:whitesmoke;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: right;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2, 0.58, 1);
}

.hour-hand{
    margin-left: 20%;
    width: 30%;
}

.min-hand{
    margin-left: 10%;
    width: 40%;
    height: 5px;
}

.second-hand{
    margin-left: 5%;
    width: 45%;
    height: 3px;
}
