@keyframes scroll_A {
    0% {
        background-position: 0 0; 
    } 
    100% {
        background-position: -200px 200px; 
    }
}

@keyframes scroll_B {
    0% {
        background-position: 0 0; 
    } 
    100% {
        background-position: -200px 200px; 
    }
}

body, ul, h2 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: #222;
    color: white;
    overflow: hidden;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    margin: 0 10vw;
}

.title {
    width: max-content;
    letter-spacing: 0.2em;
    margin: 30px 0;
    position: relative;
    font-size: 30px;
    transition: all .4s;
}

.title:hover {
    color: orange;
}

.title:active {
    color:red;
}

.cover-wrapper {
    width: 80vw;
    margin: 5vh auto;
}

.monster {
    background-color: #931f40;
    transform: skewY(-1deg);
}

.monster-item {
    float: left;
    width: 33.3333333%;
    height: 650px;
    position: relative;
    line-height: 650px;
    transition: all 0.5s;
    animation-name: scroll_A;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
}

.monster-item h2 {
    font-family: 'Kaushan Script', cursive;
    padding: 0 0.5em;
    transition: all 0.5s;
    font-size: 0;
    opacity: 0;
    color: white;
}


.monster:hover .monster-item {
    width: 20%; 
}

.monster .monster-item:hover {
    width: 60%;
    animation-play-state: running;
}

.monster .monster-item:hover h2 {
    opacity: 1; 
    font-size: 6rem;
}

.monster-item-cover {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.53, 1.6, 0.38, 1.66);
    transform: translate(-50%,-50%) rotate(0) scale(0.5);
}

.monster-item:hover .monster-item-cover {
}

.monster-item.jack {
    background-color: #67aa18;
    text-align: right;
    background-image: url(images/jack-bg.png);
}

.monster-item.ghosts {
    background-color: #fa7200;
    text-align: center;
    background-image: url(images/music-bg.png);
}

.monster-item.wolf {
    background-image: url(images/code-bg.png);
}

.monster-item.jack:hover .monster-item-cover {
    transform: translate(-80%,-50%) rotate(20deg) scale(0.8);
}

.monster-item.ghosts:hover .monster-item-cover {
    transform: translate(-50%,-50%) rotate(-20deg) scale(1);
}

.monster-item.wolf:hover .monster-item-cover {
    transform: translate(-20%,-50%) rotate(-20deg) scale(0.8);
}


















