/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .intro-hover{
        @apply transition duration-500 ease-in-out transform hover:rotate-6 hover:translate-x-16 hover:-translate-y-2 hover:scale-150;
    }
    .intro-hero-hover{
        @apply transition duration-500 ease-in-out transform hover:translate-x-6 hover:scale-110;
    }
    .intro-sub-hover{
        @apply transition duration-500 ease-in-out transform hover:translate-y-1 hover:translate-x-6  hover:scale-125;
    }
    /*
    .intro-icon-hover{
        @apply transition duration-500 ease-in-out transform hover:-rotate-12 hover:-translate-x-36 hover:-translate-y-8 hover:scale-150;
    }
    */
}

@layer utilities {
    @variants responsive {
        .horizontal {
          writing-mode: horizontal-tb;
        }
        
        .vertical {
          writing-mode: vertical-lr;
        }
        
        .vertical-rl {
          writing-mode: vertical-rl;
        }

        .text-shadow {
          text-shadow: 1px 2px 3px black;
        }

        .text-shadow-md {
          text-shadow: 4px 4px 8px black;
        }

        .text-shadow-lg {
          text-shadow: 15px 15px 30px black;
        }

        .text-shadow-none {
          text-shadow: none;
        }
    }
  }