*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgba(201, 62, 182, 0.75),
    rgba(55, 23, 197, 0.75)
  );
  display: flex;
  align-items: center;
  justify-content: center;
}



.glass {
  background: white;
  margin: 10vh 0;
  min-height: 70vh;
  width: 80vw;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 50px;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects .status {
  width: 80vw;
  margin: 3vh auto;
  font-size: xx-large;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container{
  margin-bottom: 4vh;
  max-width: 70vw;
  min-height: 60vh;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: left;
  justify-content:space-around;
}

.card-container .card {
  transition: all 1s ease;
  transform-style: preserve-3d;
  display:flex;
  flex-direction: column;
  opacity: 1;
  font-size:10px;
  border-radius: 30px;
  padding: 1vh 1vw;
  margin: 1vh 1vw;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.card-container .card .card-thumbnail {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
}


.card-container .card .card-thumbnail .circle {
  width: 10vh;
  height: 10vh;
  position :absolute;
  object-fit: cover;
  object-position: top;
  background: linear-gradient(
    to right,
    rgba(187, 43, 216, 0.75),
    rgba(8, 83, 156, 0.75)
  );
  border-radius: 50%;
}


.card-container .card .card-thumbnail .card-image {
  height:7vw;
  width:7vw;
  object-fit: cover;
  object-position: top;
  border-radius: 30%;
  overflow: hidden;
  min-width: 72px;
  min-height: 72px;
  z-index: 4;
  transition: all 0.75s ease-out;
}

.card-container .card .card-info {
  font-size: medium;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
}


.card-container .card .go {
  padding: 0.5rem 2rem;
  background: linear-gradient(
    to right,
    rgba(201, 62, 182, 0.5),
    rgba(55, 23, 197, 0.5)
  );
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: white;
}


#button {
  position: fixed;
  overflow: hidden;
  left:5vw;
  top:8vh;

  min-width: 128px;
  min-height: 36px;
  width: 10vw;
  height: 10vh;
  padding: 0.5rem 1rem;
  background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(255, 255, 156, 0.75)
  );
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 50px;
  cursor: pointer;

  font-size: xx-large;
  font-weight: 800;
  color: white;
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform-origin: left;
  transition: all 1s ease;
  transform: none;
  animation: none;
}

#button.closed:hover{
  animation: button 2s infinite linear;
}

#button .button-container{
  min-width: 64px;
  min-height: 64px;
  height: 8vh;
  width: 8vh;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}


#button .button-container .profile{
  min-width: 64px;
  min-height: 64px;
  width: 8.2vh;
  margin: -0.1vh -0.1vh;
}

#button .button-info{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  padding: 0 0.5vw;
  transition: all 1s ease-in-out;
}

@keyframes button{
  0%, 50%{
		transform: rotate(0deg);
	}
  5%, 15%, 25%, 35%, 45% {
    transform: rotate(3deg);
  }
  10%, 20%, 30%, 40% {
    transform: rotate(-1deg);
  }
}



.circle1,
.circle2,
.circle3 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  height: 30vh;
  width: 30vh;
  position: absolute;
  border-radius: 50%;
}

.circle4,
.circle5,
.circle6 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2)
  );
  height: 10vh;
  width: 10vh;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 3vh;
  right: 5vw;
}
.circle2 {
  bottom: 3vh;
  left: 50vw;
}
.circle3 {
  bottom: 10vh;
  left: 5vw;
}
.circle4 {
  top: 10vh;
  left: 8vw;
}
.circle5 {
  bottom: 15vh;
  left: 30vw;
}
.circle6 {
  bottom: 20vh;
  right: 8vw;
}